In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()

In [6]:
data = pd.read_csv("house_train_raw.csv")
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [8]:
data.drop(list(data.columns[data.isna().sum()>50]),axis=1, inplace=True)
data.fillna(value=data.mean(),inplace=True)

def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df

for col in data.columns:
    if type(data[col][0])==str:
        data = createDummies(data, col)

corr = data.corr() 

data2 = pd.concat([data[list(corr[corr.loc["SalePrice",:]>0.3].index)],data[list(corr[corr.loc["SalePrice",:]<-0.3].index)]], axis=1)
data2

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,FullBath,...,KitchenQual_Ex,KitchenQual_Gd,SaleType_New,SaleCondition_Partial,MasVnrType_None,ExterQual_TA,Foundation_CBlock,BsmtQual_TA,HeatingQC_TA,KitchenQual_TA
0,7,2003,2003,196.0,706,856,856,854,1710,2,...,0,1,0,0,0,0,0,0,0,0
1,6,1976,1976,0.0,978,1262,1262,0,1262,2,...,0,0,0,0,1,1,1,0,0,1
2,7,2001,2002,162.0,486,920,920,866,1786,2,...,0,1,0,0,0,0,0,0,0,0
3,7,1915,1970,0.0,216,756,961,756,1717,1,...,0,1,0,0,1,1,0,1,0,0
4,8,2000,2000,350.0,655,1145,1145,1053,2198,2,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,0.0,0,953,953,694,1647,2,...,0,0,0,0,1,1,0,0,0,1
1456,6,1978,1988,119.0,790,1542,2073,0,2073,2,...,0,0,0,0,0,1,1,0,1,1
1457,7,1941,2006,0.0,275,1152,1188,1152,2340,2,...,0,1,0,0,1,0,0,1,0,0
1458,5,1950,1996,0.0,49,1078,1078,0,1078,1,...,0,1,0,0,1,1,1,1,0,0
1459,5,1965,1965,0.0,830,1256,1256,0,1256,1,...,0,0,0,0,1,0,1,1,0,1

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
data2

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,FullBath,...,KitchenQual_Ex,KitchenQual_Gd,SaleType_New,SaleCondition_Partial,MasVnrType_None,ExterQual_TA,Foundation_CBlock,BsmtQual_TA,HeatingQC_TA,KitchenQual_TA
0,7,2003,2003,196.0,706,856,856,854,1710,2,...,0,1,0,0,0,0,0,0,0,0
1,6,1976,1976,0.0,978,1262,1262,0,1262,2,...,0,0,0,0,1,1,1,0,0,1
2,7,2001,2002,162.0,486,920,920,866,1786,2,...,0,1,0,0,0,0,0,0,0,0
3,7,1915,1970,0.0,216,756,961,756,1717,1,...,0,1,0,0,1,1,0,1,0,0
4,8,2000,2000,350.0,655,1145,1145,1053,2198,2,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,0.0,0,953,953,694,1647,2,...,0,0,0,0,1,1,0,0,0,1
1456,6,1978,1988,119.0,790,1542,2073,0,2073,2,...,0,0,0,0,0,1,1,0,1,1
1457,7,1941,2006,0.0,275,1152,1188,1152,2340,2,...,0,1,0,0,1,0,0,1,0,0
1458,5,1950,1996,0.0,49,1078,1078,0,1078,1,...,0,1,0,0,1,1,1,1,0,0
1459,5,1965,1965,0.0,830,1256,1256,0,1256,1,...,0,0,0,0,1,0,1,1,0,1

In [11]:
Y = data2.loc[:,"SalePrice"]
Y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [12]:
X = data2
X.drop("SalePrice", axis=1, inplace=True)
columnas = X.columns
X = X.values
X

array([[7.000e+00, 2.003e+03, 2.003e+03, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [6.000e+00, 1.976e+03, 1.976e+03, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [7.000e+00, 2.001e+03, 2.002e+03, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [7.000e+00, 1.941e+03, 2.006e+03, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [5.000e+00, 1.950e+03, 1.996e+03, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [5.000e+00, 1.965e+03, 1.965e+03, ..., 1.000e+00, 0.000e+00,
        1.000e+00]])

In [13]:
X.shape

(1460, 38)

In [14]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [15]:
X = scaler.transform(X)
X = pd.DataFrame(X, columns=columnas)

In [16]:
"""
data3 = selector.fit_transform(data.iloc[:,:-1],Y)
pd.DataFrame(data3, columns=data.columns[:-1])
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_regression
selector = SelectKBest(mutual_info_regression, k=40)
selector.fit(data.iloc[:,:-1],Y)

scores = selector.scores_
plt.rcParams["figure.figsize"] = [12,8]
plt.plot(scores)
"""

'\ndata3 = selector.fit_transform(data.iloc[:,:-1],Y)\npd.DataFrame(data3, columns=data.columns[:-1])\nfrom sklearn.feature_selection import SelectKBest\nfrom sklearn.feature_selection import mutual_info_regression\nselector = SelectKBest(mutual_info_regression, k=40)\nselector.fit(data.iloc[:,:-1],Y)\n\nscores = selector.scores_\nplt.rcParams["figure.figsize"] = [12,8]\nplt.plot(scores)\n'

In [17]:
X.isna().sum()

OverallQual              0
YearBuilt                0
YearRemodAdd             0
MasVnrArea               0
BsmtFinSF1               0
TotalBsmtSF              0
1stFlrSF                 0
2ndFlrSF                 0
GrLivArea                0
FullBath                 0
TotRmsAbvGrd             0
Fireplaces               0
GarageCars               0
GarageArea               0
WoodDeckSF               0
OpenPorchSF              0
Neighborhood_NoRidge     0
Neighborhood_NridgHt     0
Exterior1st_VinylSd      0
Exterior2nd_VinylSd      0
MasVnrType_Stone         0
ExterQual_Ex             0
ExterQual_Gd             0
Foundation_PConc         0
BsmtQual_Ex              0
BsmtExposure_Gd          0
BsmtFinType1_GLQ         0
HeatingQC_Ex             0
KitchenQual_Ex           0
KitchenQual_Gd           0
SaleType_New             0
SaleCondition_Partial    0
MasVnrType_None          0
ExterQual_TA             0
Foundation_CBlock        0
BsmtQual_TA              0
HeatingQC_TA             0
KitchenQual_TA           0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_val, Y_train, Y_val = train_test_split(X,Y, test_size = 0.3, random_state=0)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
reg = LinearRegression().fit(X_train, Y_train)
reg.score(X_train, Y_train)

0.867512286762426

In [21]:
reg.score(X_val, Y_val)

0.762655817269715

In [22]:
prediccion = list(reg.predict(X_val))

## RESULTADO

In [24]:
from sklearn.metrics import mean_squared_log_error
round(mean_squared_log_error(Y_val, reg.predict(X_val)),3)

0.028

### Trabajo con TEST

In [25]:
test = pd.read_csv("houses_test_raw.csv")
test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [26]:
test.drop(list(test.columns[test.isna().sum()>50]),axis=1, inplace=True)
test.fillna(value=test.mean(),inplace=True)

def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df

for col in test.columns:
    if type(test[col][0])==str:
        test = createDummies(test, col)

Lista1 = corr[corr.loc["SalePrice",:]>0.3]
Lista1 = list(Lista1.drop("SalePrice", axis = 0).index)
test2 = pd.concat([test[Lista1],test[list(corr[corr.loc["SalePrice",:]<-0.3].index)]], axis=1)
test2

C:\Users\Nacho\AppData\Local\Temp/ipykernel_19676/441464413.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  test.fillna(value=test.mean(),inplace=True)

,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,FullBath,...,KitchenQual_Ex,KitchenQual_Gd,SaleType_New,SaleCondition_Partial,MasVnrType_None,ExterQual_TA,Foundation_CBlock,BsmtQual_TA,HeatingQC_TA,KitchenQual_TA
0,5,1961,1961,0.0,468.0,882.0,896,0,896,1,...,0,0,0,0,1,1,1,1,1,1
1,6,1958,1958,108.0,923.0,1329.0,1329,0,1329,1,...,0,1,0,0,0,1,1,1,1,0
2,5,1997,1998,0.0,791.0,928.0,928,701,1629,2,...,0,0,0,0,1,1,0,0,0,1
3,6,1998,1998,20.0,602.0,926.0,926,678,1604,2,...,0,1,0,0,0,1,0,1,0,0
4,8,1992,1992,0.0,263.0,1280.0,1280,0,1280,2,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,4,1970,1970,0.0,0.0,546.0,546,546,1092,1,...,0,0,0,0,1,1,1,1,0,1
1455,4,1970,1970,0.0,252.0,546.0,546,546,1092,1,...,0,0,0,0,1,1,1,1,1,1
1456,5,1960,1996,0.0,1224.0,1224.0,1224,0,1224,1,...,0,0,0,0,1,1,1,1,0,1
1457,5,1992,1992,0.0,337.0,912.0,970,0,970,1,...,0,0,0,0,1,1,0,0,1,1
1458,7,1993,1994,94.0,758.0,996.0,996,1004,2000,2,...,0,0,0,0,0,1,0,0,0,1

In [27]:
X_test = test2
columnas = X_test.columns
X_test = X_test.values
X_test

array([[5.000e+00, 1.961e+03, 1.961e+03, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [6.000e+00, 1.958e+03, 1.958e+03, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.000e+00, 1.997e+03, 1.998e+03, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       ...,
       [5.000e+00, 1.960e+03, 1.996e+03, ..., 1.000e+00, 0.000e+00,
        1.000e+00],
       [5.000e+00, 1.992e+03, 1.992e+03, ..., 0.000e+00, 1.000e+00,
        1.000e+00],
       [7.000e+00, 1.993e+03, 1.994e+03, ..., 0.000e+00, 0.000e+00,
        1.000e+00]])

In [28]:
X_test = scaler.transform(X_test)
X_test = pd.DataFrame(X_test, columns=columnas)

In [29]:
prediccion_test = list(reg.predict(X_test))
prediccion_test

[122493.02660623615,
 154711.2173523275,
 173846.548579275,
 184195.55650542356,
 189569.51581197916,
 166862.99698498193,
 168998.03424472676,
 157056.14898340197,
 211017.28257767577,
 110395.31892483012,
 211359.6164037251,
 118106.37659895138,
 110100.49560355992,
 169036.35468915344,
 126372.40111396997,
 369389.4436810801,
 247642.90290843695,
 324640.9254984213,
 302810.6612345584,
 470434.7427271556,
 296698.58371841203,
 216823.80158272918,
 169583.30500626014,
 165088.29941651697,
 185441.14206627154,
 201644.01963058894,
 334584.7378977323,
 232331.87976795953,
 198679.18294400506,
 238246.53077203775,
 184543.64702312456,
 96256.43257020196,
 204661.94301728933,
 303199.2357739427,
 305580.34284586104,
 251463.57811320957,
 186559.271228798,
 158525.8170170879,
 167485.14219691997,
 153537.9045312493,
 192814.90009065982,
 161133.41752439324,
 288982.7072832536,
 236559.86551274735,
 224261.41827180935,
 182377.30751688272,
 248472.90953033406,
 193190.94081108898,
 151544.7712545632,
 130626.35724738047,
 138914.2683890171,
 166497.98202602053,
 152144.93532373582,
 162359.29017434522,
 212557.03002564667,
 152052.87049706574,
 183484.59588467175,
 153690.8738023123,
 225170.31693357212,
 117297.4003151277,
 122519.92889944378,
 185188.32913008475,
 99179.40742671666,
 110581.17412273287,
 108816.40906598358,
 107644.19101814885,
 94881.68377419858,
 141542.72691773102,
 134215.73154289357,
 197515.50506926587,
 144764.72924025613,
 96111.01909095496,
 145472.24647782356,
 129611.75645382474,
 163005.9714511632,
 107539.76499471666,
 75974.65305554675,
 170832.67540281962,
 208134.5045329432,
 144661.64916494885,
 153981.2625562867,
 152819.34589520073,
 197192.37102307644,
 73787.28439415642,
 106848.24396833799,
 150694.74626105148,
 143715.1965015001,
 134767.85095889415,
 122379.99470486213,
 137972.6266522134,
 130922.5271478418,
 153957.57515396073,
 148211.3174733383,
 120117.28457411076,
 169352.69288019498,
 99821.97146915151,
 104702.6462469755,
 109961.26693539391,
 106968.17966058975,
 146350.25078320538,
 126662.86754880278,
 114733.53766640494,
 118281.21837595518,
 180062.77795752476,
 158689.45557209165,
 246948.80000764877,
 71865.16789603171,
 212770.5544464044,
 136198.5488427551,
 149214.96829314798,
 127063.11335032081,
 139307.2661359714,
 205927.01131949513,
 134111.3833939453,
 237316.416292748,
 226384.84251137864,
 177169.31639717997,
 132402.88269120158,
 134759.09461990194,
 192325.00792154908,
 138278.45411453562,
 112714.89511330247,
 282884.21019490156,
 231044.5923589752,
 145127.74063930992,
 56650.8267257534,
 102803.36113333612,
 158922.18774852873,
 106440.80308454257,
 141680.72902399843,
 82389.03576049185,
 131142.08706957247,
 117699.10598836318,
 136896.39824350813,
 124984.81109928514,
 216260.8396149794,
 182944.2909221398,
 171544.4507728768,
 216436.5650996277,
 198251.49656931352,
 32365.870344987517,
 122588.8257083949,
 71019.2717509034,
 284107.22307471477,
 242968.072129449,
 177950.28333162618,
 203305.94710303526,
 197579.39339429117,
 195935.926479977,
 134123.95151915879,
 140440.01920014358,
 192866.34159421676,
 171390.28155476745,
 154716.41111768945,
 92828.43249698207,
 83400.40960589728,
 93519.11255798329,
 118566.39683019191,
 129041.72369542495,
 194319.40682165764,
 132928.83575283064,
 138948.92160326173,
 277544.26509850315,
 216661.28183880675,
 122634.11843732331,
 179923.59952336305,
 187517.51013846544,
 274112.1397671692,
 166010.89547812697,
 332346.7839873252,
 196855.91206754718,
 227108.5972232959,
 176064.90142573332,
 182985.3159217777,
 173513.6352012389,
 150751.77632021418,
 168148.04905791144,
 202669.92077729545,
 175661.39704978894,
 239654.69513107307,
 178020.9342766634,
 246292.83437423696,
 223922.48172692466,
 230230.43713366438,
 185100.38956677297,
 156951.746762511,
 171290.6798781564,
 124464.61823662164,
 118445.31881753709,
 111861.3525806034,
 113769.92240510101,
 113884.34066707539,
 110302.47106833349,
 163731.35229809265,
 155520.35504736463,
 158616.0350803015,
 164488.14615221333,
 166146.95215041036,
 133611.4927500004,
 145045.34605135073,
 428343.076956625,
 382875.6470801302,
 376079.9634417432,
 467643.4082173698,
 337193.58352487965,
 333312.74327117205,
 341526.5322430046,
 354464.5678689342,
 311056.80279805185,
 366727.9069159521,
 253910.39926631935,
 400539.11948370934,
 264191.0063737967,
 246797.31107111985,
 203755.5804662477,
 204056.7246423834,
 217557.47202604386,
 455286.0922526148,
 375170.5367849037,
 364861.1675326731,
 311119.93928784376,
 311574.68089666235,
 203240.64000897622,
 187808.09558306768,
 175160.44265630728,
 176183.13501708914,
 176179.62857522408,
 192361.09204613633,
 199638.4876194998,
 198975.17316970578,
 190068.06862204347,
 260179.59981488163,
 172651.84975154334,
 174276.78771710568,
 165139.60854908975,
 249490.01279701127,
 164043.36537164001,
 346029.50419326604,
 322514.61701087956,
 281538.59134025977,
 297992.74045559857,
 234223.39510706678,
 233918.092998465,
 256951.76521557267,
 248140.0762149826,
 421291.4307450445,
 227520.21177544945,
 198438.49732401286,
 244650.40864773683,
 216384.28197427507,
 263608.28626228624,
 252358.4960790277,
 273385.41275422566,
 212151.52669407835,
 198445.0763321262,
 178868.7903126096,
 178625.3793976549,
 135029.7349160981,
 216625.81341500444,
 244148.2762651042,
 177765.89393500032,
 122166.22734807746,
 157920.77610210245,
 212032.83720691848,
 222440.37812043022,
 177456.58717958137,
 163791.72903998074,
 181194.48300504882,
 140416.17318443104,
 172137.33578230668,
 109557.35002854741,
 127022.84311953317,
 115331.81593334644,
 119369.94000676495,
 131167.70849514037,
 94000.8481906186,
 304946.7481437315,
 264271.1523037257,
 270019.1166867129,
 221274.07552179834,
 190355.75132971696,
 173715.23284285417,
 178957.29781482025,
 321149.1353780467,
 207081.35971613112,
 218983.05625452753,
 234722.82034395146,
 210021.50140878055,
 151901.94467590548,
 138404.82802884723,
 236990.18102639116,
 101861.2372661081,
 149673.37231735114,
 204725.1659235306,
 175113.5507386462,
 111469.12038195391,
 105442.154136715,
 138892.1272525126,
 158902.6313113041,
 159428.67363144812,
 156308.99018937274,
 172575.3351206869,
 189315.8043119909,
 103759.72999066579,
 186691.97942760916,
 172846.47874748224,
 207423.54571349217,
 127574.74432620923,
 171844.21703519297,
 147930.75365675107,
 120889.2594226749,
 144212.9597491132,
 123722.97322869151,
 173094.72069507212,
 117802.75246990459,
 111092.76829182557,
 98688.97309850717,
 138777.38377443643,
 102831.89608681,
 177076.33510178974,
 119281.14667365901,
 69995.55498091389,
 146718.10146344957,
 87970.55435370776,
 132933.27988478914,
 162106.19080882551,
 176612.0646301451,
 22287.299902128434,
 96028.34036649803,
 55975.3927163022,
 218718.6057367021,
 145765.39580105542,
 141254.75803569925,
 155083.45009804447,
 123118.06963132966,
 133982.381943645,
 145057.8473378478,
 108205.51518605529,
 90115.50086277779,
 114775.35218196097,
 116617.46255176308,
 151758.19068683445,
 156464.59341566294,
 130915.49533605645,
 138802.33794968907,
 133930.08739517428,
 166706.89536874712,
 121393.64457453012,
 119290.45314687592,
 132061.51986260153,
 95236.89638472852,
 99528.2841976994,
 119166.91974843993,
 72855.25280044782,
 29342.08229966715,
 84737.40404482096,
 126522.94903519601,
 181739.93976903142,
 162728.45655495266,
 68255.91532867774,
 112703.63186467196,
 157006.48730950998,
 41979.33904115425,
 142836.14392790353,
 144081.6959498768,
 97500.13303778732,
 100393.50486951642,
 133216.13043873868,
 130694.93303722488,
 152259.59597973662,
 160233.78408793584,
 134944.96820768493,
 157356.72820292372,
 136972.59960165605,
 147888.74648181855,
 135199.03189479274,
 81366.45252735856,
 132879.18896978698,
 85065.46067382758,
 154433.74925678977,
 150993.20437662545,
 91101.30925361704,
 132305.93953587016,
 148971.23352923928,
 149380.85847060865,
 143624.51017901476,
 169447.26485904114,
 27458.880674059183,
 103314.48651421421,
 111003.37710626273,
 157470.29271530666,
 125169.98641390675,
 129090.0515273493,
 165961.81387115034,
 157204.7520424987,
 226029.08708930865,
 159140.78250568183,
 160560.2796567251,
 122277.36636932885,
 175646.551889243,
 121319.07049780374,
 297086.66137025156,
 297086.66137025156,
 297086.66137025156,
 380671.56796852953,
 362879.5715136775,
 232010.30770559277,
 296426.75348845153,
 214879.872883003,
 212221.1519752613,
 271459.47683699254,
 173386.79409067487,
 222020.94957802678,
 130080.62251696958,
 191953.94267736122,
 184286.56924485034,
 204717.34364784334,
 201702.22422919993,
 103567.86866833668,
 108669.85690016902,
 248757.04851680752,
 236588.01880372586,
 182503.3853875284,
 205700.61637154606,
 249025.54072245857,
 297497.4661881584,
 211035.3250345553,
 249386.39105516358,
 171013.9452964515,
 118970.36624721816,
 151191.9727640666,
 89050.76933803753,
 130581.72449758608,
 131031.4919743183,
 149558.03682968856,
 140163.22000921326,
 124419.10906929706,
 122578.70204472805,
 152039.89887772762,
 135764.85068827122,
 158725.03067690766,
 145160.05369101797,
 218049.3458167935,
 122950.61144438571,
 159154.9934662248,
 149915.84049592743,
 199327.24451994957,
 134430.19700603027,
 157422.77893228966,
 141866.60537090976,
 188644.50707502314,
 295511.48824136914,
 178052.259962562,
 52504.21723582687,
 343648.2444592869,
 30838.867645495688,
 243532.78757036565,
 148362.16484742996,
 181188.99745023777,
 158289.7199686838,
 388378.7155619508,
 344077.3017442336,
 211254.45508700545,
 232081.416828232,
 208913.78223101242,
 384909.7807939623,
 123365.6005875061,
 158920.43053607363,
 113275.24484386254,
 138338.86010436027,
 140037.20673302916,
 128058.03400871521,
 190311.97276467126,
 178474.97325191382,
 158409.9925526044,
 195707.198921278,
 169797.1703924439,
 162924.7202364665,
 259654.82753352486,
 186102.96334536452,
 168683.6599155716,
 163799.1466526324,
 219093.74314198937,
 330668.4159105924,
 364571.9295586919,
 171253.89096299617,
 339874.9246120865,
 160124.06820179796,
 245520.16472055606,
 177971.83487225111,
 261169.10125953535,
 227924.34795215906,
 171497.19533507855,
 191276.11737345223,
 129253.5513966178,
 293547.9051917703,
 154450.8138889291,
 275225.50362544623,
 150619.85013302235,
 84470.65027291072,
 111445.42463836432,
 113626.2041295199,
 128539.77317738948,
 116413.18193372338,
 151430.2735144435,
 147925.76403740013,
 299302.5828354337,
 399278.1760277542,
 384936.280612007,
 402296.2046551332,
 435462.04718396254,
 363613.7195538905,
 263178.7766492029,
 328329.4824746485,
 454710.9113237469,
 264707.722687257,
 347407.5191467909,
 337401.3009973864,
 340650.6200490112,
 200997.4323675087,
 387006.59422773495,
 224324.05266803803,
 214054.64680888414,
 182121.68611933867,
 236208.29954437196,
 221743.27905559578,
 209846.91232606236,
 177141.2683514214,
 199326.30415142677,
 208117.28464941407,
 234896.08533308582,
 220522.69077572908,
 174379.1920019908,
 234761.85783098557,
 182044.90085520546,
 306403.5456960343,
 358247.40921279683,
 330246.4128577808,
 325758.2342223497,
 309801.4029361599,
 287058.7027373699,
 248275.7978347527,
 238254.88591799582,
 267757.75912271126,
 242095.8867668194,
 225616.03731077217,
 231676.65212397088,
 206044.31570569944,
 186021.98889261094,
 184224.23173668332,
 134122.19854329783,
 173547.23628951405,
 167446.88956417827,
 179478.6797639031,
 189433.0239330739,
 189510.62948188916,
 196440.15225571612,
 114904.1302339178,
 141897.23661613517,
 113174.70741642521,
 103027.30833317449,
 177991.9083179463,
 153210.229520636,
 291961.445225397,
 369656.6495841168,
 178455.15894484596,
 157557.74192767736,
 174463.228559724,
 155198.81093799518,
 272531.6802490177,
 256225.81960661858,
 292036.79218963976,
 267836.9486876151,
 176081.53130028164,
 205817.0859102688,
 212925.32586325426,
 216295.29639832897,
 318325.3585200447,
 220297.41512302955,
 313776.94374915824,
 288469.7590646873,
 192367.66405296884,
 169641.45236146456,
 188078.98053232348,
 208684.4647697275,
 157625.07972071474,
 142473.29517958013,
 136114.89263957448,
 164697.5202966259,
 170978.75318575898,
 84083.00631055205,
 115847.0727300445,
 142119.92842480997,
 66665.52191958843,
 138031.71716266128,
 138709.6384185713,
 109588.00747331892,
 211886.92036683136,
 133574.8491593033,
 166361.2033290682,
 182267.02310855588,
 123575.80710028825,
 92719.76693788475,
 121523.17637183241,
 106581.38457077277,
 177669.36804522423,
 136408.16226140183,
 165455.83429976404,
 64239.73635017648,
 97236.19511056294,
 83040.47176305209,
 168208.995578891,
 132802.25643593434,
 175172.0309843454,
 156715.10510785913,
 119997.71806613206,
 129819.05757809235,
 113485.5298393477,
 142849.3812251159,
 109465.06298596597,
 131663.65844427783,
 146536.97316131907,
 141681.32397029505,
 91675.66666200428,
 115748.96312471127,
 128424.17181193182,
 123607.76010783408,
 116405.75248896668,
 78587.36934659233,
 142277.89805845462,
 103367.450622199,
 128001.6619648795,
 157186.73306119628,
 141051.65961686743,
 176676.3841359402,
 74822.49814270528,
 92199.19134785364,
 158810.16659850787,
 24469.972737498378,
 90778.24817174514,
 138083.17427430864,
 136981.9858137286,
 100441.5008636155,
 162069.21411482856,
 129155.64014655809,
 50426.27980307763,
 205644.53779384354,
 105714.461528392,
 101780.35695261165,
 129881.98515221795,
 161589.5857298173,
 134818.87893459457,
 130865.43040976838,
 116931.28951657895,
 171232.2913529456,
 115325.16259101446,
 157349.8018195943,
 139445.3238198849,
 105378.9106644555,
 113615.89086751922,
 84843.35905514972,
 89495.77282689082,
 85010.82956426966,
 178473.03960972067,
 145792.4297576393,
 169066.75849705632,
 165517.76917217555,
 133696.7760560587,
 100058.29819162251,
 137080.0997799735,
 165079.29263459978,
 113962.54410582059,
 123183.60558250136,
 126287.64256963195,
 91543.5078249161,
 65455.24549003907,
 118286.02471474398,
 133593.52363141996,
 142889.884939838,
 138660.7038600264,
 159684.48792194587,
 113182.43708362093,
 127323.4617364905,
 127617.87553176812,
 137554.01047579787,
 175096.23029024605,
 182242.32341623606,
 131887.48950751813,
 143239.3616077557,
 225142.48685411428,
 129568.0990622801,
 185620.6464197091,
 164737.23220163627,
 100258.33711609954,
 133492.131331901,
 246000.3811325575,
 232795.45805200306,
 228950.52363392635,
 212523.05802457023,
 200410.85812168167,
 233677.85331772425,
 391638.8554127873,
 376619.4567135122,
 254423.70762976745,
 199882.1339958075,
 139518.5033189379,
 227075.99745303896,
 180468.3490647919,
 187541.0624105776,
 214119.71038771514,
 137597.18390671478,
 129295.6760390169,
 145046.79385220117,
 223642.2615425861,
 264648.4262429806,
 306321.22750908625,
 235181.5210206973,
 211858.58056730893,
 144887.66317277652,
 243344.32607927808,
 182473.28220828308,
 207760.2105387957,
 192332.50504525693,
 124073.9486163441,
 141276.56166176926,
 149432.5379145525,
 156382.75815180453,
 153784.71519617972,
 285972.14902658126,
 70599.28700165205,
 59811.48014928558,
 77940.55167027259,
 123127.23224772386,
 89093.8232058647,
 91658.31047103248,
 122464.69255864214,
 109768.22970457005,
 148795.30899142637,
 187158.5698551309,
 132657.50537497303,
 135538.4154224606,
 187514.27034902285,
 146059.4187331873,
 174630.61516589313,
 106151.66219464905,
 125615.64386017204,
 193397.47088873887,
 229490.63344569982,
 198606.2631777022,
 142126.1681269919,
 108314.16865394636,
 121636.10513872719,
 97029.20559835757,
 137913.66097065853,
 91517.17984520526,
 148636.62128266698,
 31072.929661369184,
 81770.58414321624,
 77595.4944610536,
 74244.09516173789,
 345483.25560754153,
 297189.1002446214,
 277343.0521262895,
 217862.06469176948,
 140915.7415542635,
 183450.29093237262,
 214468.16225090745,
 279100.09014084836,
 249085.48343463975,
 132072.59957436522,
 200185.87292705613,
 176001.55077821115,
 193918.32062886152,
 252477.55113732058,
 237050.22864526487,
 248040.5829364009,
 315026.7030010341,
 216717.85587885592,
 113781.55116399696,
 178005.20858036625,
 132139.54317921202,
 130309.78851201732,
 135835.1942189497,
 106855.36298596728,
 121081.09002187716,
 137638.74334011332,
 127269.7746249656,
 119076.26339538321,
 124626.92938841949,
 120128.67069311914,
 126222.98404817739,
 182022.77789796118,
 147665.01775291335,
 156998.69972308818,
 189091.52805267644,
 176573.1167108174,
 204751.77379590258,
 149674.8282425136,
 170230.9356321544,
 145632.63076588395,
 197323.20590070653,
 224765.94244420817,
 328163.05086724483,
 399634.7900836661,
 188307.55593816726,
 311143.4459013667,
 357997.0596519386,
 398329.4746036201,
 153294.92194460903,
 192771.89501254528,
 215368.6568425839,
 215346.76475605238,
 155757.91646945197,
 182058.6624508243,
 171707.2442782318,
 208909.95863564123,
 188776.02982456962,
 152824.86773287714,
 139556.92675198935,
 90601.75947828365,
 181192.78145901524,
 193539.88297062766,
 125908.08386340094,
 155987.7118977413,
 149897.64955172112,
 106271.79883050249,
 390396.3500789177,
 291672.3155409381,
 339235.87504463445,
 442847.89438761224,
 339306.9536680172,
 415867.5775893205,
 460965.69888117834,
 380644.37721549906,
 449802.19347289094,
 278613.68658020254,
 374158.60350789514,
 360464.15781743266,
 340075.2067599847,
 310973.7122925742,
 321134.2529453159,
 240532.73206523492,
 233979.30877403502,
 257038.37699751795,
 217731.5424236657,
 202554.58160531116,
 202815.45934682866,
 231218.63828818838,
 328300.3152999068,
 229607.62077784195,
 217177.0323451393,
 188981.88311267117,
 177682.66917136416,
 178717.41937798387,
 195749.9632902164,
 198911.87727258116,
 179509.24675091507,
 175867.6180650361,
 185087.35882874203,
 184560.56021947027,
 252383.21201527977,
 194719.1802406076,
 197023.20006203683,
 185058.44632332821,
 224826.33633022095,
 170802.4645867662,
 197494.48832944158,
 225952.13619053352,
 182986.3172871254,
 182768.88274214964,
 353627.22596592945,
 404048.31406625104,
 333521.1265081463,
 277707.87881789246,
 311573.17199426057,
 338885.6983864934,
 205481.6826715793,
 263459.29967023106,
 217225.2078554625,
 406041.04773264437,
 213915.43449591438,
 217083.0016587955,
 220518.1608549268,
 212447.76274750987,
 228888.14496949263,
 219664.4976727027,
 203737.39070545745,
 240326.15605636843,
 187050.9820079385,
 312922.2128881533,
 279782.3152358516,
 229779.36249258497,
 237709.0017159893,
 144286.9316240793,
 151851.46668449283,
 152405.2807377663,
 189690.5169175859,
 190329.76174379265,
 154949.21484552618,
 109502.79186356529,
 136612.00856278287,
 241554.5394372046,
 137699.36870031236,
 176712.18908496393,
 224731.31712964555,
 194125.62713955741,
 217236.51815985123,
 251049.81339316507,
 216838.23247443524,
 166111.21473177665,
 166592.1565160947,
 188712.88121984352,
 282742.7485178991,
 319248.04477239423,
 231298.60779291004,
 280615.574877322,
 327962.6857906085,
 124583.48075979004,
 216289.5730499284,
 146937.36676910444,
 149312.77929729724,
 199388.99736104073,
 194468.06330002713,
 228946.16462619137,
 158205.9437312285,
 123176.67065758415,
 128803.94268348147,
 97811.74761490096,
 132976.6130274701,
 132857.37592195306,
 137663.67520025812,
 97441.66934579326,
 164889.9140815538,
 148815.4747814743,
 195806.85973401865,
 141541.90908825744,
 195689.06420014714,
 110889.71501221845,
 49512.931085101445,
 46645.97406184452,
 110189.75568543863,
 113987.10216157058,
 161163.63385943882,
 141062.24798896612,
 153675.9032748,
 136144.12589677752,
 119330.79208135826,
 140599.35226865718,
 114499.30585651928,
 199075.63787597258,
 104765.6038087274,
 155984.87672646632,
 119250.9038487154,
 156110.1987613029,
 143805.52992443787,
 119719.86554253036,
 117438.11153826246,
 116935.89521566722,
 123541.89613923982,
 131644.18763768894,
 145195.04325251209,
 105444.4936274833,
 119821.2020377954,
 166172.74963929254,
 230012.599431784,
 137038.95730988323,
 122199.06718312194,
 188656.7703163597,
 90429.1539588164,
 120013.9847714678,

In [30]:
from sklearn.metrics import mean_squared_log_error
#mean_squared_log_error(Y_test, reg.predict(X_test))